* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
  /* background-image: url(img/fondo.jpg);*/

  
}
img {
   width: 100%;
   height: 100%;
}
.container{
   overflow: hidden;
}
.png {
   float: left;
   background-color: rgb(162, 168, 175);
   width: 30%; 
   height: 300px;
   margin: 60px;
}
.casilla {
    float: left;
    width: 69px;
    height: 69.6px;
}
.black {
  background-color: sienna ;
}
.white {
   background-color: darkgrey;
}
.fila {
   overflow: hidden;
}
.table {
   float: left;
}
.fondo{
   width: 100%;
   height:100vh;
}
